<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cards Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-img-top {
            width: 70%;
            height: 250px;
            object-fit: contain;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-4">
                <div class="card mt-4 shadow-sm">
                    <img src="static/img/databases/postgresql.svg" alt="PostgreSQL" class="card-img-top">
                    <div class="card-body text-center d-flex justify-content-center">
                        <button onClick="window.location.href='{{ url_for('get_database', database_name='postgresql') }}';" class="btn btn-block" style="background-color: #00A587; color: white; width: 100px;">Connect</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mt-4 shadow-sm">
                    <img src="static/img/databases/mysql.svg" alt="MySQL" class="card-img-top">
                    <div class="card-body text-center d-flex justify-content-center">
                        <button onClick="window.location.href='{{ url_for('get_database', database_name='mysql') }}';" class="btn btn-block" style="background-color: #00A587; color: white; width: 100px;">Connect</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mt-4 shadow-sm">
                    <img src="static/img/databases/mariadb.svg" alt="MariaDB" class="card-img-top">
                    <div class="card-body text-center d-flex justify-content-center">
                        <button onClick="window.location.href='{{ url_for('get_database', database_name='mariadb') }}';" class="btn btn-block" style="background-color: #00A587; color: white; width: 100px;">Connect</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>